.Login {
  width: 448px;
  margin: auto;
  text-align: center;
  padding-top: 55px;
}

.Login-title {
  font-weight: 700;
  font-size: 30px;
  margin-top: 57px;
  margin-bottom: 18px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Login > p {
  font-weight: 500;
  font-size: 16px;
  color: #4a5568;
  margin-bottom: 32px;
}
.register-link {
  color: #0081d0;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}
.Login form {
  background-color: white;
  text-align: start;
  padding: 32px 40px;
}
.google-button {
  box-shadow: none !important;
  border: 1px solid #e2e8f0 !important;
  border-radius: 6px !important;
  background-color: white !important;
  height: 40px !important;
  display: flex;
  justify-content: center;
}
.Login .google-button div {
  padding: 0px !important;
}
.Login form label,
.password > div > h1 {
  font-weight: 500;
  font-size: 16px;
  color: #2d3748;
  align-self: center;
}
.Login form input {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  height: 40px;
  margin-top: 8px;
  border-radius: 6px;
  padding-left: 12px;
}
.Login form input:focus,
forn input:active {
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Login .password div {
  display: flex;
  margin: 6px 0 -18px;
  justify-content: space-between;
}
.Login .forgot-password {
  font-weight: 600;
  font-size: 16px;
  color: #0081d0;
}
.Login .metro img {
  position: relative;
  top: -9px;
  width: 19px;
  left: 38%;
}
.Login .middle-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  color: #718096;
}
.Login .middle-text:before,
.middle-text:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.Login .middle-text:before {
  margin-right: 10px;
}
.Login .middle-text:after {
  margin-left: 10px;
}
.Login .buttons-group {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}
.Login .buttons-group button {
  width: 178px;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  background-color: white;
  height: 40px;
}
.Mui-focused {
  display: none;
}
.Login .signin-button {
  width: 100%;
  height: 48px;
  background: #009eff;
  border-radius: 6px;
  border: none;
  color: white;
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
}
.Login .eye-logo {
  position: absolute;
  right: 16px;
  bottom: 0;
}
.Login .password {
  position: relative;
}
